//=== Colors ===
$body-bg-color: #fbfbfb;
$top-bg-color: #fff;
$btn-bg: #e1bc62;
$border-color: lightgray;
$text-color: black;
$primary-color: #e1bc62;
$heading-color: rgb(59, 59, 59);

//=== Font Family ===
$main-font: 'Source Sans Pro', sans-serif;

//=== width ===
$container-width: 1020px;